body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

canvas {
    border: 1px solid black;
    background-color: black;
    cursor: crosshair;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#predictionResult {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* http://127.0.0.1:5000/predict */