<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconnaissance de Chiffres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Reconnaissance de Chiffres</h1>

    <div>
        <canvas id="drawingCanvas" width="280" height="280"></canvas>
    </div>

    <div>
        <button id="clearButton">Réinitialiser</button>
    </div>

    <div id="predictionResult">
        <!-- Prediction result will be displayed here -->
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
