# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch Lightning checkpoints and logs
checkpoints/
logs/

# Dataset files (optional: keep them if you want to track data)
data/

# Virtual environment (if using a virtualenv)
venv/
.env/

# System-specific files
.DS_Store
Thumbs.db

# Configuration files that may contain sensitive information
*.yaml
*.json

# PyCharm specific files (if you're using PyCharm)
.idea/

# VS Code specific files (if you're using VS Code)
.vscode/

# Pycharm specific settings
*.iml
